<div id="footer" class="footer">
	<ul class="footer">
	<li class="footer_top">
    	<ul>
        	<h4>关于我们</h4>
        	<li class="footer">
            	<a href="#">联系我们</a>
            </li>
        </ul>       	
    </li>
    <li class="footer_top">
    	<ul>
        	<h4>技术支持</h4>
            <li class="footer">
            	<a href="#">API文档</a>
            </li>
            <li class="footer">
            	<a href="#">常见问题</a>
            </li>
            <li class="footer">
            	<a href="#">"..."</a>
            </li>
     	</ul>
      </li>
     </ul>
</div>