<div class="header">
<ul class="header">
	<li><a class="header_menu" href="#">首页</a></li>
	<li><a class="header_menu" href="#">文档</a></li>
    <li><a class="header_menu" href="#">社区</a></li>
    <li><a class="header_menu" href="#">退出</a></li>
</ul>
</div>

